version: '3.8'

services:
  web:
    image: php:8.2-apache
    container_name: php_servidor
    volumes:
      - ./www:/var/www/html
    ports:
      - "8080:80"
    networks:
      - app-network

  # La base de datos SQL
  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_DATABASE: db
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge